@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    /* border: solid red 1px; */
}

ul {
    list-style: none;
}

body {
    background-image: url(../images/berlim.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    -webkit-transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -ms-transition: background-image 0.2s ease-in-out;
    -o-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

textarea:focus, input:focus{
    outline: none;
}

.container {
    width: 100vw;
    color: white;
    background-image: linear-gradient(
        50deg,
        hsla(0, 0%, 3%, 0.887) 0%,
        hsl(0, 0%, 0%) 30%,
        hsl(0, 0%, 0%) 30%,
        transparent 100%
      );
    height: 100%;
    /* display: none; */
}

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100vh;
    gap: 10px;
}

.logo {
    width: 200px;
    padding: 25px 0px 10px 0px;
}

#profile-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;
}

#profile-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: solid rgb(176, 176, 176) 2px;
    transition: all 0.5s ease-out;
}

#profile-list li img {
    width: 100%;
}

#profile-list li + #profile-name {
    transition: all 0.5s ease;
    opacity: 0;
    cursor: default;
}

#profile-list li:hover + #profile-name {
    opacity: 1;
    transform: scale(1.2);
    margin-left: 170px;
    transition: all 0.5s ease;
    cursor: default;
}

#profile-list li:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
    border: solid rgb(252, 252, 252) 2px;
}

.chooseProfile {
    font-size: 17px;
    margin-bottom: 15px;
}

#newProfile {
    font-size: 50px;
}

.newProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: solid rgb(176, 176, 176) 2px;
    transition: all 0.5s ease-out;
    list-style: none;
}

#newProfile li:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    border: solid rgb(252, 252, 252) 2px;
}

.boxUser {
    display: flex;
    align-items: center;
}

.boxUser p {
    font-size: 25px;
    margin-left: 150px;
    position: absolute;
}

#myVideo {
    background-color: black;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: scale(1.1);
    display: block;
    margin: auto;
}

/* CREATE PROFILE MODAL */

#createProfile {
    width: 100vw;
    height: 100vh;
    background: rgba(11, 11, 11, 0.796);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(207, 207, 207);
}

#box-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    flex-direction: column;
    gap: 20px;
}

#user-details { 
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
}

#user-details label {
    font-size: 20px;
}

#user-details input {
    color: rgb(207, 207, 207);
    border: none;
    font-size: 20px;
    border-bottom: 1px solid rgb(74, 74, 74);
    background-color: transparent;
    padding: 5px 5px;
    transition : 0.5s ease;
}

#user-details input:hover {
    border-bottom: #ff4646 solid 1px;
    transition : 0.5s ease;
}

#user-details input:focus {
    border-bottom: #a40000 solid 1px;
}

.submit {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 20px;
    color: #fff;
    background-color: #3b3b3b;
    padding: 5px 20px;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
}

.submit:hover {
    transition : 1000ms;
    padding: 5px 35px;
    transform : translateY(-0px);
    background-color: #ff2525;
    color: #ffffff;
    border: none;
}

.user-image img {
    width: 100%;
}

.new-user {
    width: 100px;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

.active {}

.error {
    color: #a40000;
    cursor: default;
    display: none;
}

